<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupportGenie AI</title>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <!-- Sidebar -->

    <div class="sidebar">

        <div>

            <div class="logo">
                <h2>🤖 SupportGenie AI</h2>
                <p>AI Customer Support</p>
            </div>

            <button class="new-chat" id="newChatBtn">
                + New Chat
            </button>

            <input
                type="text"
                id="searchChat"
                class="search-box"
                placeholder="Search chats...">

            <div
                id="conversationList"
                class="conversation-list">

            </div>

        </div>

        <div class="sidebar-bottom">

            <a href="/dashboard">
                📊 Dashboard
            </a>

            <a href="/logout">
                🚪 Logout
            </a>

        </div>

    </div>

    <!-- Chat Area -->

    <div class="chat-area">

        <div class="chat-header">

            <div class="header-left">

                <div class="bot-avatar">
                    🤖
                </div>

                <div>
                    <h2>SupportGenie AI</h2>
                    <span style="color:#10a37f">
                        ● Online
                    </span>
                </div>

            </div>

        </div>

        <div
            id="chatBox"
            class="chat-box">

            <div class="bot-row">

                <div class="avatar">
                    🤖
                </div>

                <div class="bot-message">

                    Hello 👋 <br><br>

                    I am SupportGenie AI.<br>

                    Ask me anything about your product or service.

                </div>

            </div>

        </div>

        <div
            id="typingIndicator"
            class="typing">

            🤖 SupportGenie is typing...

        </div>

        <div class="input-area">

            <input
                id="message"
                type="text"
                placeholder="Ask anything...">

            <button id="sendBtn">

                Send

            </button>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>

</body>
</html>